# Ignore bundler config.
/.bundle

# Ignore byebug history.
/.byebug_history

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore db config.
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.ruby-version

# Ignore vagrant local files.
/.vagrant
/coverage
