/*page titles*/

h1.page-header {
  text-align: center;
  font-family: 'Play', sans-serif;
}

/*list of screens*/

.list-screens ul {
  list-style-type: none;
}

.list-screens a {
  max-width: 320px;
  float: left;
  margin-left: 13px;
}

div.row {
  margin: 10px 55px;
}
