<footer class="footer">
  <div class="container">
    <small>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="#">News</a></li>
        <li><%= link_to "Hell", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
