<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="https://github.com/tickmo" target="_blank">News on GitHub</a></li>
      </ul>
    </nav>
  </div>
</footer>
